
$colorLight: #fff;
$colorTextBTN: rgb(62, 67, 78);
$colorTextBTNActive: rgb(109, 113, 121);
$colorManageBTN: rgb(23, 26, 33);
$colorManageBTNActive: rgb(26, 59, 135);
$colorManageText: rgb(219, 219, 219);

